@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom classes */
@layer utilities {
  .bg-primary {
    background-color: #f5385d;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ทำให้ container เต็มความสูงของหน้าจอ */
}

.input-email,
.input-password {
  @apply w-full border my-1 py-2 px-3 rounded-2xl;
}

textarea {
  height: 140px;
}

/* Styles for button elements */
button.dropdown {
  @apply bg-[#F1A5A8]  text-white p-1 px-2 rounded-md;
}

.dropdown-menu {
  @apply absolute right-0 mt-40 mr-4 w-20 bg-white rounded shadow-lg z-10;
}

/* Apply the custom class */
button.primary {
  @apply bg-primary p-2 w-full rounded-2xl text-white;
}

button.goals {
  @apply bg-primary p-2 w-full rounded-2xl text-white;
}

button.formBtn {
  @apply bg-black primary my-1 p-2 w-full rounded-2xl text-white;
}
button.formBtnNext {
  @apply bg-yellow-500  primary my-1   p-2 w-full rounded-2xl text-white;
}
button.formBtnGen {
  @apply bg-blue-400  primary my-1   p-2 w-full rounded-2xl text-white;
}
button.formBtnSave {
  @apply bg-green-500  primary my-1  mb-8 p-2 w-full rounded-2xl text-white;
}

/* PersonalInformationForm.module.css */
